<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NewServlettp</servlet-name>
        <servlet-class>tpweb.NewServlettp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowClient</servlet-name>
        <servlet-class>tpweb.ShowClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientsEtat</servlet-name>
        <servlet-class>tpweb.ClientsEtat</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlettp</servlet-name>
        <url-pattern>/NewServlettp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowClient</servlet-name>
        <url-pattern>/ShowClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientsEtat</servlet-name>
        <url-pattern>/ClientsEtat</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
